# Rename to .env before running docker compose up
FRIGATE_RTSP_PASSWORD=change_me_strong
WIEGAND_DB_PATH=/data/fingerprint_users.sqlite3
RELOCK_DELAY_S=5
SERIAL_PORT=/dev/ttyUSB2
SERIAL_BAUD=9600
MQTT_HOST=mosquitto
MQTT_PORT=1883
TZ=Asia/Kolkata
